// // general

// .container {
//     width: 100vw !important;
// }

// .card, .card-img {
//     border-radius: 0 !important;
//     border: 0 !important;
// }

// // navbar
// // .navbar-brand img {
// //     height: 34px;
// //     padding-left: 50px;
// // }

// // .navbar {
// //     height: 100px;
// // }

// // .navbar-nav {
// //     padding-right: 50px;
// // }

// // hero

.card-img  {
    width: 100vw;
}

// banner
.banner-section {
    height: 100px;
    width: 100vw;
}

.vertical-center {
    padding-top: 2.5%;
}

//  info
.info {
    width: 100vw;
}

.info-img {
    width: 50vw;
}

// // footer
@media only screen and (max-width: 600px) {
    #footer-nav {
        height: 50vh
    }    
}
// Add/remove floats
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.float-none {
    float: none;
}
.clear {
    clear: both;
}
// Text alignment
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
// Apply capital case to an element
.caps {
    text-transform: uppercase;
}