// general

.container {
    width: 100vw !important;
}

.card, .card-img {
    border-radius: 0 !important;
    border: 0 !important;
}

.btn, .btn-lg {
    border-radius: 0 !important;
}

.main {
    width: 100vw;
}

// header navbar
@media screen and (min-width: 1000px) {
    .header-nav-img img {
        height: 34px;
        padding-left: 50px;
    }
    
    .header-nav {
        height: 15vh;
    }
    
    .header-nav-items {
        padding-right: 50px;
    }
}

// hero

.card-img  {
    object-fit: cover;
    width: 100vw;
    filter: brightness(50%);
}

// banner
.banner-section {
    height: 100px;
    width: 100vw;
}

.row {
    margin: 0;
}

.vertical-center {
    padding-top: 2.5%;
}

//  info
.info {
    width: 100vw;
}

.info-img {
    width: 50vw;
}

// media
@media only screen and (max-width: 600px) {
    .info-btn {
        margin-bottom: 5vh;
    }

    .footer-menu {
        padding-left: 15vw;
    }

    #footer-nav {
        height: 50vh
    }
}